In [2]:
import pandas as pd

In [3]:
UN = pd.read_csv('C:/Users/Owner/Dropbox/My PC (DESKTOP-TUG1RDI)/Documents/FreeCodeCamp/adult.data.csv',header = [0])
df1=pd.DataFrame(UN)
df1

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [4]:
df = df1.rename(columns={'native-country':'Country'})
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,Country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

Question 1

In [5]:
race_count = df.race.unique()
race_count

array(['White', 'Black', 'Asian-Pac-Islander', 'Amer-Indian-Eskimo',
       'Other'], dtype=object)

Question 2

In [6]:
men3 = df.loc[(df.sex == "Male")]
menave= men3.age.mean()
menave

39.43354749885268

Question 3

In [7]:
college = df.groupby('education').race.count()
college.Bachelors/college.sum()* 100

16.44605509658794

In [8]:

college

education
10th              933
11th             1175
12th              433
1st-4th           168
5th-6th           333
7th-8th           646
9th               514
Assoc-acdm       1067
Assoc-voc        1382
Bachelors        5355
Doctorate         413
HS-grad         10501
Masters          1723
Preschool          51
Prof-school       576
Some-college     7291
Name: race, dtype: int64

Question 4

In [9]:
smart = df.education[(df.education == 'Doctorate')].count() + df.education[(df.education == 'Masters')].count() + df.education[(df.education == 'Bachelors')].count()
smart

7491

Question 5

In [10]:
smart/df.education.count()* 100

23.006050182733944

Question 6

In [11]:
percentage_bachelors = round(len(df[df['education'] == 'Bachelors']) / len(df) * 100, 1)
percentage_bachelors

16.4

In [12]:
higher_education = df.salary[df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
Lower_education = df.salary[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]

Question 7

In [12]:
higher_education.count()

7491

Question 8

In [13]:
Lower_education.count()

25070

Question 9

In [14]:
total= df.age.count()
total

32561

Question 10

In [15]:
percentage_higher = higher_education.count()/total.round() * 100
percentage_higher

23.006050182733944

Question 11

In [16]:
percentage_lower = Lower_education.count() / total.round() * 100
percentage_lower

76.99394981726606

Question 12

In [17]:
higher_education

0        <=50K
1        <=50K
4        <=50K
5        <=50K
8         >50K
         ...
32538     >50K
32539     >50K
32544    <=50K
32553    <=50K
32554     >50K
Name: salary, Length: 7491, dtype: object

In [18]:
higher_education_rich = df.salary[df['education'].isin(['Bachelors', 'Masters', 'Doctorate']) & df['salary'].isin(['<=50K'])].count()
higher_education_rich/total.round() * 100

12.299990786523756

Question 13

In [19]:
Lower_education_rich = df.salary[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate']) & df['salary'].isin(['<=50K'])].count()
Lower_education_rich

20715

Question 14

In [20]:
Lower_education_rich/total.round() * 100

63.61905346887381

Question 15

In [21]:
minumin_hours= df[df['hours-per-week'] == df['hours-per-week'].min()]
minwork = minumin_hours['hours-per-week'].count()

Question 16

In [22]:
Poor_Lazy = minumin_hours.salary[minumin_hours['salary'].isin(['>50K'])]
poormin =Poor_Lazy.count()

In [23]:
poormin/minwork * 100

10.0

Question 17

In [28]:
minumin_hours= df[df['hours-per-week'] == df['hours-per-week'].min()]

Question 18

In [124]:
new = df.query('salary == "<=50K"').groupby('native-country')['salary'].count()
new

native-country
?                               437
Cambodia                         12
Canada                           82
China                            55
Columbia                         57
Cuba                             70
Dominican-Republic               68
Ecuador                          24
El-Salvador                      97
England                          60
France                           17
Germany                          93
Greece                           21
Guatemala                        61
Haiti                            40
Holand-Netherlands                1
Honduras                         12
Hong                             14
Hungary                          10
India                            60
Iran                             25
Ireland                          19
Italy                            48
Jamaica                          71
Japan                            38
Laos                             16
Mexico                          610
Nicaragua                        32
Outlying-US(Guam-USVI-etc)       14
Peru                             29
Philippines                     137
Poland                           48
Portugal                         33
Puerto-Rico                     102
Scotland                          9
South                            64
Taiwan                           31
Thailand                         15
Trinadad&Tobago                  17
United-States                 21999
Vietnam                          62
Yugoslavia                       10
Name: salary, dtype: int64

KeyError: 'Column not found: salary'

Question 19

In [130]:
richest= new[new == richest_country.max()]

Question 20

In [197]:
new.idxmax()

'United-States'

Question 21

In [131]:
print(new[new == richest_country.max()])

native-country
United-States    21999
Name: salary, dtype: int64

Question 22

In [132]:
All_country= new.groupby('native-country')['salary'].count().sum()

KeyError: 'Column not found: salary'

Question 23

In [133]:
richest / All_country *100

native-country
United-States    88.992718
Name: salary, dtype: float64

Question 24

In [168]:
India = df.query('Country == "India"')
India

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,Country,salary
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
892,28,Private,164170,Assoc-voc,11,Married-civ-spouse,Adm-clerical,Wife,Asian-Pac-Islander,Female,0,0,40,India,<=50K
968,48,Private,164966,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
1029,48,Self-emp-inc,138370,Masters,14,Married-spouse-absent,Sales,Not-in-family,Asian-Pac-Islander,Male,0,0,50,India,<=50K
1095,22,Self-emp-not-inc,361280,Bachelors,13,Never-married,Prof-specialty,Own-child,Asian-Pac-Islander,Male,0,0,20,India,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30152,48,Private,119471,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
30833,25,Private,110978,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,Asian-Pac-Islander,Female,0,0,37,India,>50K
30871,26,Private,160261,Masters,14,Never-married,Prof-specialty,Not-in-family,Asian-Pac-Islander,Male,0,0,20,India,<=50K
31327,38,State-gov,125499,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,7688,0,60,India,>50K
31357,23,Private,143003,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,1887,50,India,>50K

In [178]:
India.occupation.unique()

array(['Prof-specialty', 'Adm-clerical', 'Exec-managerial', 'Sales',
       'Other-service', 'Craft-repair', 'Handlers-cleaners',
       'Tech-support', 'Transport-moving', 'Protective-serv',
       'Machine-op-inspct'], dtype=object)

Question 25

In [193]:
count_occ = India['occupation'].value_counts()
count_occ.idxmax()

'Prof-specialty'

In [ ]:
df.head()

In [ ]:
import pandas as pd


def calculate_demographic_data(print_data=True):
    # Read data from file
    df = pd.read_csv('C:\Users\Owner\Dropbox\My PC (DESKTOP-TUG1RDI)\Documents\FreeCodeCamp.csv')

    # How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
    race_count = None

    # What is the average age of men?
    average_age_men = None

    # What is the percentage of people who have a Bachelor's degree?
    percentage_bachelors = None

    # What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
    # What percentage of people without advanced education make more than 50K?

    # with and without `Bachelors`, `Masters`, or `Doctorate`
    higher_education = None
    lower_education = None

    # percentage with salary >50K
    higher_education_rich = None
    lower_education_rich = None

    # What is the minimum number of hours a person works per week (hours-per-week feature)?
    min_work_hours = None

    # What percentage of the people who work the minimum number of hours per week have a salary of >50K?
    num_min_workers = None

    rich_percentage = None

    # What country has the highest percentage of people that earn >50K?
    highest_earning_country = None
    highest_earning_country_percentage = None

    # Identify the most popular occupation for those who earn >50K in India.
    top_IN_occupation = None

    # DO NOT MODIFY BELOW THIS LINE

    if print_data:
        print("Number of each race:\n", race_count) 
        print("Average age of men:", average_age_men)
        print(f"Percentage with Bachelors degrees: {percentage_bachelors}%")
        print(f"Percentage with higher education that earn >50K: {higher_education_rich}%")
        print(f"Percentage without higher education that earn >50K: {lower_education_rich}%")
        print(f"Min work time: {min_work_hours} hours/week")
        print(f"Percentage of rich among those who work fewest hours: {rich_percentage}%")
        print("Country with highest percentage of rich:", highest_earning_country)
        print(f"Highest percentage of rich people in country: {highest_earning_country_percentage}%")
        print("Top occupations in India:", top_IN_occupation)

    return {
        'race_count': race_count,
        'average_age_men': average_age_men,
        'percentage_bachelors': percentage_bachelors,
        'higher_education_rich': higher_education_rich,
        'lower_education_rich': lower_education_rich,
        'min_work_hours': min_work_hours,
        'rich_percentage': rich_percentage,
        'highest_earning_country': highest_earning_country,
        'highest_earning_country_percentage':
        highest_earning_country_percentage,
        'top_IN_occupation': top_IN_occupation
    }